:root {
  --primary__color: #f55f8d;
  --second__color: #636363;
  --third__color: #262626;
  --linear__color: linear-gradient(to right, #f55f8d, #f8ae56, #f55f8d);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  width: 100%;
  height: 100vh;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  
}
img {
  display: block;
  max-width: 100%;
  width: 100%;
  object-fit: cover;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
input,
button,
textarea {
  outline: none;
  font-size: 1.5rem;
}
textarea {
  resize: none;
}
.animate__animated{
  animation-duration: 2s;
}
.animate__delay-0_5s{
  animation-delay: 0.5s;
}
.animate__delay-0_7s{
  animation-delay: 0.7s;
}
 h2{
    color: var(--primary__color);
    font-size: 2.2rem;
  }
  h1{
    font-size: 7rem;
    margin: 2rem 0;
    color: var(--third__color);
  }
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}
@mixin flexbox(
  $align: flex-start,
  $justify: flex-start,
  $flex-direction: row,
  $wrap: nowrap
) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $flex-direction;
  flex-wrap: $wrap;
}
@mixin  grid($gap,$column: repeat(3,1fr),$justify:stretch){
  display: grid;
  grid-template-columns: $column;
  gap: $gap;
  justify-items: $justify;
}
button {
  cursor: pointer;
  @include size(17rem, 6rem);
  border-radius: 5rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  background: var(--linear__color);
  border: 1px solid;
  transition: all 0.5s ease;
  background-size: 200%;
  &:hover {
    background-position: right;
  }
}
.title{
  text-transform: capitalize;
  // text-align: center;
 
}
.section-pt {
  padding-top: 12rem;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.flex {
  @include flexbox(center, space-between);
}
.header {
  position: absolute;
  width: 100%;
  &__logo {
    @include size(17rem, auto);
  }
  &__content {
    height: 13.5rem;
  }
  li {
    padding: 15px;
    a {
      font-weight: 550;
      color: #070120;
      @include flexbox(center);
      span {
        transition: all 0.5s;

        @keyframes animated {
          49% {
            transform: translateY(-100%);
          }
          50% {
            transform: translateY(100%);
            opacity: 0;
          }
          51% {
            opacity: 1;
          }
        }
      }
      &:hover {
        color: var(--primary__color);
        span {
          animation: animated 0.3s;
        }
      }
    }
    i {
      margin-left: 5px;
      font-size: 1rem;
    }
  }
}
.carousel {
  background-image: url(../images/pic2.png);
  background-size: 100%;
  background-position: top;
  overflow: hidden;
  padding-top: 18rem;
  &__content{
    @include flexbox(center,center);
  }
  &__left{
    width: 60%;
    
  }
  &__right{
    width: 40%;
  }

  &__text{
    font-size: 1.8rem;
    color: var(--second__color);
    p{
      line-height: 3rem;
    }
    ul{
      margin: 3rem 0;
      li{
        line-height: 2.5;
        font-size: 2rem;
        i{
          @include size(3.5rem);
          background-image: var(--linear__color);
          border-radius: 50%;
          background-size: 200%;
          color: #fff;
          text-align: center;
          line-height: 3.5rem;
          margin-right: 1rem;
        }
      }
    }
  }
  &__banner{
    position: relative;
    width: 57rem;
    margin-left: 5rem;
  }
}
.services{
  background-image: url(../images/bg2.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
  ul{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3.5rem;
    margin-top: 4rem;
    li{
      padding: 3rem 4.5rem;
      background: #fff;
      box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
      border-radius: 1rem;
      transition: all 0.3s linear;
      &:hover{
        transform: translateY(-2rem);
      }
      h3{
        margin: 2rem;
        font-size: 2.4rem;
        text-transform: capitalize;
      }
      p{
        color: var(--second__color) ;
        line-height: 2.5rem;
      }
    }
  }
  img{
    @include size(21rem);
    display: inline-block;
  }
}
.about{
  padding-bottom: 9rem;
  &__content{
    @include flexbox(center,flex-end);
    position: relative;
  }
  &__left{
    width: 60%;
  }
  &__right{
    width: 50%;
  }
  // &__right{
  //   flex-shrink: 0;
  // }
  &__left{
    position: absolute;
    left: -17%;
    // flex-grow: 1;
  }
  &__banner{
    border-radius: 10rem;
    overflow: hidden;
    
  }
  &__text{
    color: var(--second__color);
    p{
      line-height: 2.5rem;
      margin-bottom: 2rem;
      font-size: 1.6rem;
    }
    ul{
      margin-bottom: 2rem;
    }
    li{
      line-height: 3.5rem;
      font-size: 1.7rem;
      i{
        @include size(2.5rem);
        border-radius: 50%;
        text-align: center;
        line-height: 2.2rem;
        border: 2px solid var(--primary__color);
        color: var(--primary__color);
        margin-right: 1.5rem;
      }

    }
  }
}
.data{
  background-image: url(../images/bg14.png);
  background-size: 200%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 32rem;
  text-align: center;
  .container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    height: 100%;
    padding: 8rem 0;
  }
  &__box{
    @include flexbox(center,center,column);

    i{
      display: inline-block;
      font-size: 4.5rem;
      color: #fff;
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
      background: var(--linear__color);
      text-align: center;
      line-height: 8rem;
      
    }
    
  
  }
  &__number{
    font-size: 7rem;
    font-weight: bold;
    color: var(--primary__color);
  }
  &__text{
      font-size: 1.8rem;
      color: var(--third__color);
  }
}
.future{
  background: url(../images/bg2.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  &__box{
    display: flex;
  }
  &__left,&__right{
    width: 50%;
  }
  &__item{
    padding: 0 5rem 3rem 0;
    &:nth-child(2){
      padding: 0 0 3rem 5rem;
    }
   
  }
  &__content{
    background: #fff;
    box-shadow: 0 0 5rem 0 rgba(0, 0, 0, 0.1);
    padding: 3rem 2rem;
    border-radius: 1rem;
    display: flex;
    position: relative;
    overflow: hidden;
    &::after{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: var(--linear__color);
      background-size: 200% ;
      top: 0;
      left: 0;
      opacity: 0;
      transition: all 1s ease-in-out;
      z-index: -1;

    }
     &:hover{
      background: transparent;

      &::after{
        opacity: 1;
      }
      i,h3,p{
        color: #fff;
      }
    }
    i{
      font-size: 8rem;
      color: var(--primary__color);
    transition: all 1s ease-in-out;

    }
    h3{
      font-size: 2.5rem;
    transition: all 1s ease-in-out;

    }
  }
  &__text{
    line-height: 1.6;
    padding: 0 2.2em;
    p{
      font-size: 1.6rem;
      color: var(--second__color);
    transition: all 1s ease-in-out;

    }
  }

  &__image{
    margin-right: -7rem;
    img{
      animation: rotated 5s linear infinite;

      @keyframes rotated {
        0%{
          transform: translate(2px,2px) rotate(1deg);
        }
        50%{
          transform: translate(-2px,-2px) rotate(-1deg);
        }
        100%{
          transform: translate(2px,2px) rotate(1deg);
  
        }
      }
    }
  }
}
.portfolio{
  background-image: url(../images/bg17.png);
    background-size: cover;
    background-position: top center;
  &__list{
    @include grid(3.5rem,repeat(2,1fr) 1.5fr );
  
  }
  &__item{
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    &:first-of-type{
      grid-column: 1/span 2;
    }
    &:nth-of-type(5){
      grid-column: 3/4;
      grid-row: 2/4;
    }
    &:nth-of-type(6){
      grid-column: 1/span 2;
      
    }
    img{
      height: 100%;
    }
  &::before {
      content: "";
      width: 50%;
      height: 100%;
      position: absolute;
      top: 0;
      left: -100%;
      display: block;
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.3) 100%
      );
      transform: skewX(-25deg);
      transition: all 0.75s;
    }
    &:hover::before {
      left: 125%;
    }

  }
  &__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    opacity: 1;
    transition: all .75s;
    &:hover{
      .portfolio__icon{
        transform: translate(-2rem,2rem);
        opacity: 1;
        visibility: visible;
      }
      .portfolio__text{
        transform: translateY(-50%);
      }
    }
    h3{
      font-size: 2.5rem;

    }
  }
  &__icon{
    position: absolute;
    @include size(5rem);
    background: var(--linear__color);
    background-size: 200%;
    text-align: center;
    line-height: 5rem;
    font-size: 2.5rem;
    color: #fff;
    border-radius: 1rem;
    right: 0;
    transition: all .75s;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
  }
  &__text{
    transition: all 0.5s;
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    left: 3rem;
    color: #fff;
    transition: all .75s;
    line-height: 1.5;
  }
}
.plan{
    background-image: url(../images/bg16.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: var(--third__color);
    text-align: center;
  &__box{
    margin-top: 5rem;
    @include grid(3rem);
  }
  &__item{
    padding: 3.5rem 6rem;
    box-shadow: 0 0 10rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    border: 3px solid transparent;
    border-image: 100 round;
    transition: all 0.5s;
    
    &:hover{
      border-image: url(../images/br.png) 1 round
    }
    img{
      width: 12.5rem;
      display: inline-block;

    }
    p{
      font-weight: bold;
      margin: 2rem 0;
    }
    h3{
      font-size: 3.2rem;
    
    }
    span{
      font-size: 5rem;
      color: #f8ae56;
    }
    ul{
      margin-top: 2rem;
      border-top: 1px solid #E1E1F0;
      padding: 2rem 0;
      text-align: left;
      line-height: 2;
      font-size: 1.8rem;
      i{
        margin-right: 2rem;
        @include size(2.5rem);
        background: #feeff3;
        border-radius: 50%;
        color: #f55f8d;
        line-height: 2.5rem;
        text-align: center;
        font-size: 1.4rem;
      }
    }
  }
}
.testimonial{
  background-image: url(../images/bg17.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  text-align: center;
  &__thumb{
    width: 100%;
    height: 17rem;
   
  }
  &__image{
    max-width: 30rem;
    margin: 0 auto;
    height: 100%;
    position: relative;
    &::before{
      content: "";
      width: 30px;
      position: absolute;
      top: 0;
      height: 100%;
      left: 0;
    
    }
    &::after{
      content: "";
      width: 30px;
      position: absolute;
      top: 0;
      height: 100%;
      right: -2rem;
    }
    &::before{
       background: linear-gradient(to right,#fff 0,rgba(255,255,255,0));
     z-index: 99;
    }
    &::after{
      background: linear-gradient(to right,rgba(255, 255, 255, 0.3),rgba(255,255,255,0.9));
     z-index: 99;
    }
  }
  &__wrapper{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    &::before{
    content: "";
      position: absolute;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background: var(--primary__color);
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -50%);

    }
    &::after{
    content: "";
      position: absolute;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      background: var(--primary__color);
      bottom: 2.5rem;
      left: 50%;
      transform: translate(-50%, -50%);

    }
  }
  &__pic{
    @include size(8rem);
    border-radius: 50%;
    border: 5px solid var(--primary__color);
    overflow: hidden;
    &:not(:nth-of-type(2)){
      transform: translateY(50%);
    }
    // padding: 0 0 4rem;
    
  }
  &__shape{
    position: absolute;
    height: 35px;
    width: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-40%);
    transition: all 1s;
    background-color: #f55f8d;
    // opacity: 1;

    &::before{
      content: "";
      position: absolute;
      @include size(100%);
      background: url(../images/pattern12.png);
      background-position: bottom;
      background-size: contain;
      background-repeat: no-repeat;
      top: 0;
      left: 0;
    }
  }
  &__comment{
    width: 100%;
    overflow: hidden;
  }
  &__text{
    margin: 2rem auto;
    @include size(77rem,25rem);
    background-color: #fff;
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    position: relative;
    padding: 3rem;
    text-align: center;
    h3{
      font-size: 2.2rem;
      margin-bottom: 7px;
    }
    i{
      position: absolute;
      font-size: 7rem;
      color: var(--primary__color);
      transform: rotate(-180deg);
      top: 3rem;
      left: 2rem;
    }
  }
 
  &__position{
    margin-bottom: 5rem;
    font-size: 1.8rem;
    color: var(--primary__color);
    font-style: italic;
  }
  &__content{
    color: var(--second__color);
    font-style: italic;
    font-size: 1.8rem;
    line-height: 2.5rem;
    font-weight: 400;
    padding: 0 1.5rem 1.5rem;
  }
  &__pagination{
    width: 100%;
    height: 5rem;
    line-height: 5rem;
    span{
      display: inline-block;
      @include size(8px);
      border-radius: 50%;
      background-color: var(--primary__color);
      margin: 2px;
      &:not(:nth-child(2)){
      background-color: #ccc;
      }
    }
  }
}
.blog{
  background-image: url(../images/bg16.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
  text-align: center;
  padding-bottom: 5rem;
  &__item{
  background: #FEEFF3;
  
  }
  &__box{
    @include grid(3rem);
  }
  &__header{
    position: relative;
    img{

      border-radius: 1rem;
      overflow: hidden;
      // z-index: -1;
    }
    p{
      position: absolute;
      padding: 1.2rem 2rem;
      display: inline-block;
      background: var(--linear__color);
      background-size: 200%;
      border-radius: 5px;
      text-transform: uppercase;
      color: #fff;
      font-size: 1.4rem;
      bottom: 0;
      left: 1.5rem;
      transform: translateY(50%);
      // z-index: 10;
    }
  }
  &__body{
    padding: 3rem 1.5rem;
    text-align: left;
    line-height: 1.5;
    margin-bottom: 2rem;
    h3{
      font-size: 2.5rem;
      color: var(--third__color);
    }
    p{
      color: var(--second__color);
      font-size: 1.6rem;
    }
  }
  &__footer{
    border-top: 1px solid #F1E2E6;
    padding: 1.5rem;
    @include flexbox(center);
   
    p{
      text-transform: uppercase;
      color: var(--second__color);
    }
    i{
      font-size: 2.2rem;
    }
    i,span{
      color: var(--primary__color);
    }
    p:first-of-type{
      margin-right: 2rem;
    }
    img{
      display: inline-block;
      width: 2rem;
    }
  }
}
.footer{
  position: relative;
  background: url(../images/bg4.png);
  background-color: #0e1b1f;
  display: block;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 2;
    font-size: 1.5rem;
    &::before{
      content: "";
      position: absolute;
      background-image: url(../images/pattern2.png);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-position: left top;
      background-repeat: no-repeat;
      background-size: contain;
      z-index: -1;
    }
  &__top{
    background-color: #fff;
    background-image: url(../images/pattern3.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 5rem 6rem;
    border-radius: 1rem;
    @include flexbox(center,center);
    box-shadow: 0 0 30px 0 rgba(0,0, 0, 0.1);
  }
  &__text,&__form{
    width: 50%;
  }
  &__text{
    h3{
      color: var(--third__color);
      font-size: 2.8rem;
    }
  }
  &__form{
    display: flex;
    box-shadow: 0 0 5rem 0 rgba(0, 0, 0, 0.1);
    input{
      width: 100%;
      outline: none;
      border: 1px solid transparent;
      border-right: none;
      border-radius: 1rem 0 0 1rem;
      padding: 1.5rem 2rem;
      color:var(--second__color);
      transition: all 0.5s;
      &:hover,&:focus{
      border: 1px solid var(--primary__color);

      }
    }
    button{
      width: 10rem;
      height: 7rem;
      border-radius:0 1rem 1rem 0;
      padding: 2rem;
      border: 1px solid transparent;
     
    }
  }
  &__bottom{
    @include grid(30px,repeat(4,1fr));
    padding: 7rem 0;
  }
  &__item{
    @include flexbox(flex-start, flex-start, column);
    color: #fff;
    span{
      line-height: 1.5;
    }
    ul{
      margin-top: 2rem;
      li{
        @include flexbox(center, flex-start);
        padding: 1rem 0;
       i{
        @include size(4rem);
        background: var(--linear__color);
        background-size: 200% ;
        border-radius: 50%;
        text-align: center;
        line-height: 4rem;
        font-size: 1.8rem;
      }
    }

    }
    h3{
      margin-bottom: 3rem;
      padding-bottom: 1rem;
      font-size: 2.4rem;
      position: relative;
      &::before,&::after{
        content: "";
        height: 5px;
        background: var(--linear__color);
        position: absolute;
        border-radius: 1rem;
        bottom: 0;
      }
      &::before{
         width: 1.8rem;
      }
      &::after{
        width: 5rem;
        left: 2.5rem;
      }
      
    }
    a{
      padding: 1.8rem 0;
      font-size: 1.6rem;
      color: var(--second__color);
      transition: all 0.5s ease;
      &:hover{
        color:#fff;
      }
    }
    i{
      margin-right: 1rem;
    }
  }
}
.copyright{
  background-color: #1f343b;
  padding: 1rem 0;
  color: #fff;
  &__content{
    @include flexbox(center,space-between);
    span{
      color: var(--primary__color);
    }
  }
  &__social{
    a{
      color: #fff;
    }
    i{
      @include size(3rem);
      border-radius: 50%;
      text-align: center;
      line-height: 3rem;
      // margin-left: 5px;
      background: #35484D;
    }
  }
}
@media screen and (max-width: 1280px) {
   h1{
    font-size: 6rem;
  }
}
@media screen and (max-width: 1200px) {
 
  .header{
    li{
      padding: 10px;
      a{
        font-size: 1.4rem;
      }
    }
  }
  .about__title{
    h1{
      font-size: 5rem;
    }
  }
  .about__text li {
    line-height: 3rem;
    font-size: 1.4rem;
}
.future__left h1{
  font-size: 5rem;
}
.future__text{
  padding: 0 2rem;
}
.future__item {
  padding: 0 3rem 2rem 0;
}
.future__content h3 {
    font-size: 2rem;
}
.portfolio__overlay h3 {
    font-size: 2rem;
}
.plan__item ul {
  font-size: 1.5rem;
}
.plan__box{
  gap: 1rem;
}
.blog__footer{
  padding: 1rem;
  font-size: 1.3rem;
}
.blog__footer i {
    font-size: 1.5rem;
}
}
@media  screen and (max-width: 1023px) {
  body{
    overflow-x: hidden;
  }
  button{
    @include size(15rem,5rem);
  }
  h1{
    font-size: 4rem;
  }
  h2{
    font-size: 1.8rem;
  }
  .section-pt {
    padding-top: 10rem;
}
  .header .header__nav{
    display: none;
  }
  .toggle-bar{
    @include size(5rem);
    background: var(--linear__color);
    background-size: 200%;
    color: #fff;
    border: 1px solid;
    transition: all 0.5s ease;
    position: relative;
    &:hover {
      background-position: right;
    }
   span{
    display: block;
    @include size(4rem,3px);
    background: #fff;
    margin: 1rem auto;
    border-radius: 2rem;
    transition: all 0.5s;
    &:nth-child(1),&:nth-child(3){
      transform-origin: left;
    }
    &:nth-child(2){
      transform-origin: center;
    }
    
   }
   &.active{
    span{
      &:nth-child(1){
        transform: rotate(45deg) translate(5px,-5px);
        // left: 10px;
        // bottom: -9px;
      }
      &:nth-child(2){
        transform: rotate(135deg);
      //   top: 25px;
      // right: 20px;

      }
      &:nth-child(3){
        transform: scale(0);
      }
    }
   }
  }
  .carousel__text{
    font-size: 1.4rem;
    ul{
      li{
        font-size: 1.6rem;
        i{
          @include size(2.5rem);
          line-height: 2.5rem;
        }
      }
    }
  }
  .carousel__banner{
    width: 40rem;
  }
  .about__title h1 {
    font-size: 3.5rem;
}
.about__text p {
    line-height: 2rem;
    margin-bottom: 2rem;
    font-size: 1.4rem;
}
.about__text li {
    line-height: 3rem;
    font-size: 1.2rem;
}
.about__text li i {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    margin-right: 1rem;
}
.about__left {
    position: absolute;
    left: -27%;
    width: 70%;
}
.data__number {
    font-size: 5rem;
  }
  .data__box i {
    font-size: 3.5rem;
    width: 6rem;
    height: 6rem;
    line-height: 6rem;
}
.future__box{
  align-items: center;
}
.future__left h1 {
    font-size: 3rem;
}
.future__content{
  padding: 2rem;
  align-items: center;
}
.future__content h3 {
    font-size: 1.5rem;
}
.future__text p {
  font-size: 1.3rem;

}
.future__content i {
    font-size: 5rem;  
}
.future__image {
    margin-right: -4rem;
}
.portfolio__list {
  display: block;
}
.portfolio__item {
  margin-bottom: 3rem;
}
  .services ul,.plan__box,.blog__box {
    display: block;
    
  }
  .services ul li, .plan__item,.blog__item{
    margin-bottom: 30px;
  }
  .testimonial__text {
    margin: 2rem auto;
    width: 60rem;
    height: 25rem;
    padding: 2rem;
  }
  .footer__bottom {
    gap: 20px;
    padding: 5rem 0;
  }
  .footer__item h3{
    font-size: 2rem;
  }
.footer__item a {
    padding: 1rem 0;
    font-size: 1.3rem;
}
.footer__item ul li i {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    font-size: 1.3rem;
    flex-shrink: 0;
}
.footer__item span {
    line-height: 1.5;
    font-size: 1.3rem;
}
}
@media screen and (max-width: 767px) {
  .container{
    width: 98%;
  }
  h1{
    font-size: 2.5rem;
  }
  h2{
    font-size: 1.5rem;
  }
  button {
    width: 10rem;
    height: 3rem;
    font-size: 1rem;
}
.toggle-bar.active span:nth-child(1) {
    transform: rotate(45deg) translate(3px, -4px);
}
  .toggle-bar {
    width: 4rem;
    height: 4rem;
  }
  .toggle-bar span{
    width: 3rem;
    margin: 6px auto;
  }
  .carousel__text p {
    line-height: 2rem;
}
.carousel__text ul li {
    font-size: 1.3rem;
}
.carousel__text ul li i {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
}

.carousel__banner {
  width: 27rem;
    position: relative;
    margin-left: 0;
}
.about__title h1 {
    font-size: 2.5rem;
}
.about__text li {
    line-height: 2.5rem;
}
.about__banner {
    border-radius: 2rem;
}
.data__box i {
    font-size: 2.5rem;
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
}
.data__number {
    font-size: 3rem;
}
.data__text {
    font-size: 1.3rem;

}
.future__left h1 {
    font-size: 2rem;
}
.future__text {
    padding: 0 1rem;
}
.future__content i {
    font-size: 4rem;
}
.future__text p {
    font-size: 1rem;
}
.future__text h3 {
    font-size: 1.3rem;
}
.future__item {
    padding: 0px 1rem 1rem 0;
}
.future__item:nth-child(2) {
    padding: 0 0 1rem 1rem;
}
.testimonial__text i {
    font-size: 4rem;
}
.testimonial__text {
    width: 40rem;
    height: 20rem;
}
.testimonial__text h3 {
    font-size: 1.6rem;
}
.testimonial__content {
    font-size: 1rem;
    line-height: 2rem;
    padding: 0 1rem 1rem;
}
.testimonial__position {
    margin-bottom: 4rem;
    font-size: 1.3rem;
}
.blog__header p {
    padding: 1rem 1.5rem;
    font-size: 1rem;
}
.blog__body h3 {
    font-size: 2rem;
}
.blog__body p {
    font-size: 1.3rem;
}
.blog__footer {
    padding: 1rem;
    font-size: 1rem;
}
.footer__text{
  width: 30%;
}
.footer__text h3 {
    font-size: 1.2rem;
}
.footer__top{
  padding: 1rem;
}
.footer__form{
  width: 70%;
  font-size: 1rem;
  input{
    padding: 1rem;
  }
}
.footer__form button {
    width: 8rem;
    height: 5rem;
    padding: 1rem;
}
.footer__bottom {
    gap: 10px;
}
.footer__item img{
  width: 13rem;
}
.footer__item h3 {
    font-size: 1.3rem;
}
.footer__item h3::before {
    width: 1.3rem;
}
.footer__item h3::after {
    width: 3rem;
}
.copyright{
  font-size: 1rem;
}
.footer__item a {
    padding: 1rem 0;
    font-size: 0.8rem;
}
.footer__item span {
    line-height: 1;
    font-size: 1rem;
}
.footer__item ul li i {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    font-size: 1rem;
}
}